version: "3"
services:
  flyway:
    image: ${DOCKER_IMAGE}
    container_name: flyway
    user: root
    environment:
      - TZ="Asia/Seoul"
      - FLYWAY_URL="{{ flyway_url }}"
      - FLYWAY_USER="{{ flyway_user }}"
      - FLYWAY_PASSWORD="{{ flyway_password }}"
    volumes:
      - {{ flyway_data }}/sql:/flyway/sql
    restart: unless-stopped
