services:
  flyway:
    image: ${DOCKER_IMAGE}
    container_name: "{{ container_name }}"
    user: root
    environment:
      - "TZ=Asia/Seoul"
      - "FLYWAY_JAR_DIRS=/flyway/drivers"
      - "FLYWAY_LOCATIONS=filesystem:/flyway/sql"
      - "FLYWAY_URL={{ flyway_url }}"
      - "FLYWAY_USER={{ flyway_user }}"
      - "FLYWAY_PASSWORD={{ flyway_password }}"
    command: [ "migrate" ]
    volumes:
      - {{ flyway_home }}/drivers:/flyway/drivers
      - {{ flyway_data }}:/flyway/sql
    restart: unless-stopped
